<div id="sidebar">
    <ul id="sidebar-nav">
        <li>Welcome <%= currentUser.Name %></li>
        <li><a href="/donor/dashboard">Dashboard</a></li>
        <li><a href="/donor/donate">Details</a></li>
        <!-- <li><a href="/donor/donations/pending">Output deatils</a></li> -->
        <li><a href="/donor/donations/previous">Output Details</a></li>
        <li><a href="/donor/profile">My Profile</a></li>
        <li><a href="/auth/logout" class="btn">Logout</a></li>
    </ul>
</div>
