<main>
    <%- include('../partials/donorSidebar') %>

    <div id="main-wrapper">
        <div class="bg-white shadow-sm p-3">
            <span class="me-3" id="sidebar-toggler-btn"
                ><i class="fas fa-bars"></i
            ></span>
            <h5 class="m-0 color-theme d-inline-block">Details</h5>
        </div>

        <form
            action="/donor/donate"
            method="POST"
            class="border m-4 my-3 p-4 bg-white rounded-2 shadow"
        >
            <div class="mb-4">
                <label for="food" class="form-label">Activity Name</label>
                <input
                    type="text"
                    name="donation[activityName]"
                    class="form-control"
                    id="food"
                    placeholder="Enter food.."
                    required
                    autofocus
                />
            </div>

            <div class="row">
                <div class="mb-4 col-sm-6">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input
                        type="text"
                        name="donation[quantity]"
                        class="form-control"
                        id="quantity"
                        placeholder="Enter quantity of food.."
                        required
                    />
                </div>

                <div class="mb-4 col-sm-6">
                    <label for="time" class="form-label">Start Date</label>
                    <input
                        type="datetime-local"
                        name="donation[startDate]"
                        class="form-date-input"
                        id="time"
                        required
                    />
                </div>
                <div class="mb-4 col-sm-6">
                    <label for="address" class="form-label">Upload Image</label>
                    <input
                        type="file"
                        name="donation[imgString]"
                        class="form-control"
                        id="address"
                        placeholder="Please add an image"
                        value="<%= currentUser.address %>"
                    />
                </div>
                <div class="mb-4 col-sm-6">
                    <label for="time" class="form-label">End Date</label>
                    <input
                        type="datetime-local"
                        name="donation[endDate]"
                        class="form-date-input"
                        id="time"
                        required
                    />
                </div>
                
                <div class="mb-4 col-sm-6">
                    <label for="address" class="form-label">Location</label>
                    <input
                        type="text"
                        name="donation[location]"
                        class="form-control"
                        id="address"
                        placeholder="Enter address.."
                        value="<%= currentUser.address %>"
                        
                    />
                </div>
            </div>
            <div class="row">
                <div class="mb-4 col-sm-6">
                    <h3>Workers</h3>
                    <label for="food" class="form-label"> Name</label>
                    <input
                        type="text"
                        name="donation[workerName]"
                        class="form-control"
                        id="food"
                        placeholder="Name"
                        required
                        autofocus
                    />
                </div>
                <div class="mb-4 col-sm-6 mt-5">
                    <label for="time" class="form-label"
                        >Work duration(0-12)</label
                    >
                    <input
                        type="range"
                        name="donation[workDuration]"
                        class="form-control"
                        id="food"
                        min="0"
                        max="50"
                        step="1"
                        list="tickmarks"
                        required
                        autofocus
                    />

                    <datalist id="tickmarks">
                        <option value="0" label="0%"></option>
                        <option value="10"></option>
                        <option value="20"></option>
                        <option value="30"></option>
                        <option value="40"></option>
                        <option value="50" label="50%"></option>
                        <option value="60"></option>
                        <option value="70"></option>
                        <option value="80"></option>
                        <option value="90"></option>
                        <option value="100" label="100%"></option>
                    </datalist>
                </div>

                <div class="mb-4 col-sm-6">
                    <label for="food" class="form-label"> Wages</label>
                    <input
                        type="text"
                        name="donation[wages]"
                        class="form-control"
                        id="food"
                        placeholder="Wages paid"
                        required
                        autofocus
                    />
                </div>
            </div>
            <div class="row">
                <h3>Assets used</h3>
                <div class="mb-4 col-sm-6">
                    <label for="food" class="form-label"> Asset ID</label>
                    <input
                        type="text"
                        name="donation[assetId]"
                        class="form-control"
                        id="food"
                        placeholder="Unique ID"
                        required
                        autofocus
                    />
                </div>

                <div class="mb-4 col-sm-6">
                    <label for="food" class="form-label">
                        Duration of asset(0-12)</label
                    >
                    <input
                        type="range"
                        name="donation[assetDuration]"
                        class="form-control"
                        id="food"
                        min="0"
                        max="50"
                        step="1"
                        list="tickmarks"
                        required
                        autofocus
                    />

                    <datalist id="tickmarks">
                        <option value="0" label="0%"></option>
                        <option value="10"></option>
                        <option value="20"></option>
                        <option value="30"></option>
                        <option value="40"></option>
                        <option value="50" label="50%"></option>
                        <option value="60"></option>
                        <option value="70"></option>
                        <option value="80"></option>
                        <option value="90"></option>
                        <option value="100" label="100%"></option>
                    </datalist>
                </div>
            </div>

            <div class="row">

                <div class="mb-4 col-sm-12">
                    <h3>Materials consumed</h3>
                    <span>
                        <label for="food" class="form-label">
                            Type of material
                        </label>
                        <input
                            type="text"
                            name="donation[typeMaterialcon]"
                            class="form-control"
                            id="food"
                            placeholder=""
                            required
                            autofocus
                    /></span>
                    <div class="row">
                    <div class="mb-4 col-sm-6">
                    <span >
                        <label for="food" class="form-label">
                            Units consumed</label
                        >
                        <input
                            type="text"
                            name="donation[unitsConsumed]"
                            class="form-control"
                            id="food"
                            placeholder=""
                            required
                            autofocus
                    /></span>
                   </div>
                   <div class="mb-4 col-sm-6">
                    <span>
                        <label for="food" class="form-label">
                            Cost involved</label
                        >
                        <input
                            type="text"
                            name="donation[costInvolved]"
                            class="form-control"
                            id="food"
                            placeholder=""
                            required
                            autofocus
                    /></span>
                </div>
            </div>
                </div>
            </div>
            <div class="row"> 
                <h2>Materials Produced</h2>
        <div class="mb-4 col-sm-4">
          <label for="food" class="form-label"> Type of material</label>
          <input type="text" name="donation[typeMaterialpro]" class="form-control" id="food" placeholder="" required autofocus>
        </div>
        <div class="mb-4 col-sm-4">
          <label for="food" class="form-label"> Units</label>
          <input type="text" name="donation[unitsProduced]" class="form-control" id="food" placeholder="" required autofocus>
        </div>
        <div class="mb-4 col-sm-4">
          <label for="food" class="form-label"> Storage location</label>
          <input type="text" name="donation[storageLocation]" class="form-control" id="food" placeholder="" required autofocus>
        </div>
            </div>

           

            <div class="mb-4">
                <label for="msg" class="form-label"
                    >Want to write some message?</label
                >
                <textarea
                    type="text"
                    name="donation[Message]"
                    class="form-control"
                    id="msg"
                    placeholder="You can write here some msg.."
                ></textarea>
            </div>

            <button type="submit" class="btn w-75 d-block m-auto mt-4">
                Submit
            </button>
        </form>
    </div>
</main>

<script>
    const d = new Date();
    const dateString =
        d.getFullYear() +
        "-" +
        ("0" + (d.getMonth() + 1)).slice(-2) +
        "-" +
        ("0" + d.getDate()).slice(-2) +
        "T" +
        ("0" + d.getHours()).slice(-2) +
        ":" +
        ("0" + d.getMinutes()).slice(-2);
    document.getElementById("time").value = dateString;
</script>
