<body class="about ">
    <div >
        <h1 class="m-4  ">About us</h1>
            
        <div class=" m-4 p-4 shadow">
            <ul class="fs-5">
                <h3>Who we really are?</h3>
                <br/>
                <li>We, at Agro-Sys strive to take your farmers data and put it to make a dynamic report.</li>
                <li>Made by Team 11</li>
            </ul>
        </div>
        </div>
</body>
